/*----------------------COLORES---------------------*/
$color-negro: black;

/*----------------------MEDIDAS---------------------*/
$medida-total: 100%;

/*----------------------ESTILOS---------------------*/
$estilo-menu: "Lobster", cursive;